{% extends 'base.html' %}

{% block title %}Counselor Dashboard - PROTISRUTI{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="content-box">
                <h1>Welcome, {{ user.username }}</h1>
                {% if user.counselor_profile.is_verified %}
                    <p>Your account is verified. You can now provide counseling services.</p>
                {% else %}
                    <div class="alert alert-warning">
                        <p>Your account is pending verification. Our administrators will review your credentials soon.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="content-box">
                <h2>Your Dashboard</h2>
                <p>This dashboard is currently under development. Soon you will be able to:</p>
                <ul>
                    <li>Manage your counseling sessions</li>
                    <li>View assigned survivors</li>
                    <li>Access professional resources</li>
                    <li>Participate in counselor networks</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}