{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Counselor Registration - PROTISRUTI{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="auth-container" style="max-width: 100%;">
                <h2>Counselor Registration</h2>
                <p class="text-center mb-4">Join our network of professionals</p>
                
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.years_of_experience|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.expertise_sector|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="alert alert-info">
                        <small>Note: Your account will need to be verified by our administrators before you can provide counseling services.</small>
                    </div>
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                
                <div class="auth-option">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

